*{
    margin: 0;
    padding: 0;
}
body{
  background: black;
}
.head{
    height: 100vh;
    width: 100%;
    background: url("image/bg.jpg");
  background-position: center;
  background-size: cover;
}
.head img{
    height: 100%;
    width: 100%;
}
.navbar{
    height: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 5px 8px white;
    align-items: center;

}
.navbar ul {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    
}
.navbar ul li{
    margin: 30px;
    list-style: none;
    font-weight: 600;
    font-size: 25px;
    padding: 10px;
}
.navbar ul li:hover{
    box-shadow: 2px 3px 4px goldenrod;
}
.head-text 
{
    text-align: center;
    height: 90%;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
}
.head-text h1{
    color:gold;
    font-size: 70px;
}
.head-text .button-text{
    padding: 50px 60px  ;
}
.head-text .button-text .button1{
    margin-right: 50px;
}
.head-text .button-text button{
    padding: 10px;
    font-size: 25px;
    box-shadow: 2px 3px 4px gold;
    background: transparent;
    color: white;
    border: none;
    font-weight: 600;
}
.head-text .button-text button:hover{
    box-shadow: 4px 5px 6px white;
    background: goldenrod;
    border-radius: 20px;
}
/*Our Service**/

.services
{
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  height: 400px;
  justify-content: center;
  align-items: center;
  
}
.services img{
  height:100px;
  
}
.services .box{
  color: goldenrod;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 250px;
  border: 4px solid goldenrod;
  padding: 10px;
  
}
.services .box:hover{
  box-shadow: 4px 5px 6px goldenrod;
}
  .services .box h1{
    font-size: 30px;
  }
  .services .box p{
    font-size: 18px;
  }
  @media (max-width:715px) {
    .Our-Service .s-line-1{
       flex-direction: column;
       height: fit-content;
       width: fit-content;
       margin-top: 1000px
   }
   }
  

   .app-details-bar{
    height: 150px;
    border-radius: 20px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    
  }
  .app-details-bar a:hover{
    transform: rotate(360deg);
    transition: 1s;
  }
  .total-downloads{
    margin: 30px;
    flex: 1;
    color: #f2f2f2;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid goldenrod;
  }
  .total-downloads h1{
    font-weight: 600;
    color: #f2f2f2;
    font-size: 25px;
    text-shadow: 2px 3px 4px white ;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .total-downloads .text{
    padding: 50px;
  }
  .best-app{
    flex: 1;
    color: #f2f2f2;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid goldenrod;
    margin: 30px;
  }
  .experience{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #f2f2f2;
    border: 1px solid goldenrod;
    margin: 30px;
  }
  .best-app h1{
    font-weight: 600;
    color: #fff;
    font-size: 25px;
    text-shadow: 2px 3px 4px white ;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .best-app .text{
    padding: 50px;
  }
  
  .experience h1{
    font-weight: 600;
    color: #fff;
    font-size: 25px;
    text-shadow: 2px 3px 4px white ;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .experience .text{
    padding: 50px;
  }
  @media (max-width:800px) {
    .app-details-bar{
      flex-direction: column;
      height: fit-content;
    }
    }
   

    /**About*/
    .about{
      display: flex;
      color: goldenrod;
      justify-content: center;
      margin: 0 auto;
      align-items: center;
      height: 500px;
      width: 90%;
    }

.about .about-image img{
  flex: 1;
  height: 350px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 3px 4px wheat;
}
.about .about-image img:hover{
  box-shadow: 2px 3px 4px goldenrod;
}
.about .about-text{
  flex: 1;
  margin: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}
.about .about-text h1{
  padding: 20px;
}
.about .about-text p{
  padding: 20px;
}
.about .about-text .about-button .button1{
  padding: 10px;
  font-size: 25px;
  box-shadow: 2px 3px 4px gold;
  background: transparent;
  color: white;
  border: none;
  font-weight: 600;
  margin-right: 30px;
  cursor: pointer;
}
.about .about-text .about-button .button1:hover{
  background: goldenrod;
  border-radius: 20px;
}
.about .about-text .about-button .button2:hover{
  background: goldenrod;
  border-radius: 20px;
}
.about .about-text .about-button .button2{
  padding: 10px;
  font-size: 25px;
  box-shadow: 2px 3px 4px gold;
  background: transparent;
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

/**Leatest News Section */
.news-headline{
  height: 50px;
  color: goldenrod;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
}
.news-headline h1{
  border-bottom: 4px double wheat;
}
.news-section{
  height: 400px;
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  
  
}
.news-section .news{
  background: #efeff2;
  margin: 20px;
  padding: 20px;
  flex: 1;
  border-radius: 10px;

}
.news-section .news .p-3{
  
 margin-top: 100px;
  color: goldenrod;
}

/**Follower */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

.follower {
  
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}

/**Frequently asked Questions */

.two-side{
  display: flex;
 
  width: 90%;
  margin: 0 auto;
}


.faq-container h1 {
  margin: 50px 0 30px;
  text-align: center;
  color: goldenrod;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  flex: 1;
  padding: 40px;
  border: 1px solid goldenrod;

}


.faq {
  background-color: goldenrod;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.faq.active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq.active::before,
.faq.active::after {
  content: '\f075';
  font-family: 'Font Awesome 5 Free';
  color: #2ecc71;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.faq.active::before {
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: goldenrod;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  outline: 0;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: goldenrod;
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #9fa4a8;
}


/**Form side */
.form-side h1{
  margin: 50px 0 30px;
  text-align: center;
  color: goldenrod;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form-side div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.form-side{
  flex: 1;
  margin: 30px;
  padding: 40px;
  border: 1px solid goldenrod;
  
}