*{
    margin: 0;
    padding: 0;
}
body{
  background: black;
}
.head{
    height: 100vh;
    width: 100%;
    background: url("image/bg.jpg");
  background-position: center;
  background-size: cover;
}
.head img{
    height: 100%;
    width: 100%;
}
.navbar{
    height: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 5px 8px white;
    align-items: center;

}
.navbar ul {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    
}
.navbar ul li{
    margin: 30px;
    list-style: none;
    font-weight: 600;
    font-size: 25px;
    padding: 10px;
}
.navbar ul li:hover{
    box-shadow: 2px 3px 4px goldenrod;
}
.head-text 
{
    text-align: center;
    height: 90%;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
}
.head-text h1{
    color:gold;
    font-size: 70px;
}
.head-text .button-text{
    padding: 50px 60px  ;
}
.head-text .button-text .button1{
    margin-right: 50px;
}
.head-text .button-text button{
    padding: 10px;
    font-size: 25px;
    box-shadow: 2px 3px 4px gold;
    background: transparent;
    color: white;
    border: none;
    font-weight: 600;
}
.head-text .button-text button:hover{
    box-shadow: 4px 5px 6px white;
}
/*Our Service**/

.services
{
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  height: 400px;
  justify-content: center;
  align-items: center;
  
}
.services img{
  height:100px;
  
}
.services .box{
  color: goldenrod;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 250px;
  border: 4px solid goldenrod;
  padding: 10px;
  
}
.services .box:hover{
  box-shadow: 4px 5px 6px goldenrod;
}
  .services .box h1{
    font-size: 30px;
  }
  .services .box p{
    font-size: 18px;
  }
  @media (max-width:715px) {
    .Our-Service .s-line-1{
       flex-direction: column;
       height: fit-content;
       width: fit-content;
       margin-top: 1000px
   }
   }
  

   .app-details-bar{
    height: 150px;
    border-radius: 20px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    
  }
  .app-details-bar a:hover{
    transform: rotate(360deg);
    transition: 1s;
  }
  .total-downloads{
    margin: 30px;
    flex: 1;
    color: #f2f2f2;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid goldenrod;
  }
  .total-downloads h1{
    font-weight: 600;
    color: #f2f2f2;
    font-size: 25px;
    text-shadow: 2px 3px 4px white ;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .total-downloads .text{
    padding: 50px;
  }
  .best-app{
    flex: 1;
    color: #f2f2f2;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid goldenrod;
    margin: 30px;
  }
  .experience{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #f2f2f2;
    border: 1px solid goldenrod;
    margin: 30px;
  }
  .best-app h1{
    font-weight: 600;
    color: #fff;
    font-size: 25px;
    text-shadow: 2px 3px 4px white ;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .best-app .text{
    padding: 50px;
  }
  
  .experience h1{
    font-weight: 600;
    color: #fff;
    font-size: 25px;
    text-shadow: 2px 3px 4px white ;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .experience .text{
    padding: 50px;
  }
  @media (max-width:800px) {
    .app-details-bar{
      flex-direction: column;
      height: fit-content;
    }
    }
   