*{
    margin: 0;
    padding: 0;
}
.head{
    height: 100vh;
    width: 100%;
    background: url("image/bg.jpg");
  background-position: center;
  background-size: cover;
}
.head img{
    height: 100%;
    width: 100%;
}
.navbar{
    height: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 5px 8px white;
    align-items: center;

}
.navbar ul {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    
}
.navbar ul li{
    margin: 30px;
    list-style: none;
    font-weight: 600;
    font-size: 25px;
    padding: 10px;
}
.navbar ul li:hover{
    box-shadow: 2px 3px 4px goldenrod;
}
.head-text 
{
    text-align: center;
    height: 90%;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
}
.head-text h1{
    color:gold;
    font-size: 70px;
}
.head-text .button-text{
    padding: 50px 60px  ;
}
.head-text .button-text .button1{
    margin-right: 50px;
}
.head-text .button-text button{
    padding: 10px;
    font-size: 25px;
    box-shadow: 2px 3px 4px gold;
    background: transparent;
    color: white;
    border: none;
    font-weight: 600;
}
.head-text .button-text button:hover{
    box-shadow: 4px 5px 6px white;
}
/*Our Service**/

.Our-Service{
    height: 800px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   
    flex-direction: column;
  }
  .Our-Service .s-line-1{
    flex: 1;
    height: 800px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .Our-Service .s-line-1 .box{
    padding: 10px;
    box-shadow: 3px 4px 5px #095784 ;
    background: rgb(99,181,238);
background: linear-gradient(191deg, rgba(99,181,238,1) 0%, rgba(242,242,242,1) 100%);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
  }
  .Our-Service .s-line-1 .box h1,p,a{
    text-align: center;
    align-items: center;
  }
  .Our-Service .s-line-2{
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 800px;
    width:100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .Our-Service .s-line-2 .box{
    padding: 10px;
    box-shadow: 3px 4px 5px #095784 ;
    border-radius: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    background: rgb(151,186,210);
background: linear-gradient(191deg, rgba(151,186,210,1) 0%, rgba(159,201,231,1) 52%, rgba(242,242,242,1) 100%);
  }
  .Our-Service .s-line-2 .box h1,p,a{
    text-align: center;
    align-items: center;
  }
  @media (max-width:715px) {
    .Our-Service .s-line-1{
       flex-direction: column;
       height: fit-content;
       width: fit-content;
       margin-top: 1000px
   }
   }
   @media (max-width:715px) {
    .Our-Service .s-line-2{
       flex-direction: column;
       
   }
   }